.banner{
    background-color: antiquewhite;
    height: 200px;
}

.landingItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 209, 209);
    height: 400px;
    min-width: 300px ;
}